html {
  position: relative;
  min-height: 100%;
}

body {
  background: #333;
}

.container-fluid {
  width: 1100px;
  margin: 0 auto;
  background-color: #ffffff;
}

.brand {
  margin-bottom: 15px;
  padding: 20px;
  color: #ffffff;
  font-family: Georgia;
  font-size: 24px;
  background-color: #4aaaa5;
}

.content {
  padding: 10px;
  margin-bottom: 20px;
  color: #777777;
}

.sidebar {
  padding: 5px;
  margin-bottom: 20px;
}

h1 {
  font-family: Georgia;
  font-size: 24px;
  color: #4aaaa5;
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
  margin-bottom: 10px;  
}

h2 {
  font-family: Georgia;
  font-size: 24px;
  color: #4aaaa5;
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
  margin-bottom: 10px; 
}

img.myphoto {
  float: left;
  margin: 0px 20px 20px 0px;
  width: 250px;
}

.btn-primary {
  margin-top: 15px;
  background: #4aaaa5;
}

.box {
  background: #fff;
  box-shadow: 3px 3px 3px #777777;
  padding: 20px;
  margin: 10px;
  margin-bottom: 40px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
}

img.logolinks {
  width: 50px;
  height: 50px;
  margin: 9px;
}

img.portfolioimages {
  width: 300px;
  height: 235px;
  margin: 10px;
}

form {
  font-family: arial;
}

p {
  font-family: arial;
  font-size: 14px;
  margin-bottom: 18px;
  line-height: 20px;
}

footer {
  font-family: arial;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  color: #fff;
  border-top: 5px solid #4aaaa5;
  background: #666666;
  position: fixed;
  height: 70px;
  bottom: 0;
  width: 100%;
}
